.button{
    margin: 2.8rem auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #50E3C2;
    border-bottom: 0.2rem solid #0AC299;
    border-radius: 0.4rem;
    padding: 0.9rem;
    text-align: center;
    display: block;
    border: none;
    width: 15.3rem;
    cursor: pointer;
    a{
        font-size: 1.4rem;
        text-decoration: none;
        color: black;
    }
    &--secondary{
        margin: 2.8rem 0 0;
        font-family: 'Open Sans', sans-serif;
        background-color: #FB5872;
        border-bottom: 0.2rem solid #D0011B;
        border-radius: 0.1rem;
        padding: 0.9rem;
        text-align: center;
        color: white;
        display: block;
        width: 15.3rem;
        cursor: pointer;
        a{
            font-size: 1.4rem;
            text-decoration: none;
            color: white;
        }
    }
}
@media screen and (min-width: 768px) {
    .button{
        margin: 3rem 0;
        &--secondary{
            font-size: 1.4rem;
        }
    }
}
.down-arrow{
    display: block;
    margin: 7rem auto 2.8rem;
}
@media screen and (min-width: 768px) {
    .down-arrow {
        display: block;
        margin: 10.8rem auto 0rem;
    }
}

.line--hr{
    border-bottom: solid 0.4rem #3D3B40;
    content: "";
    bottom: 0;
    margin: 0 0 2.8rem;
    width: 2.5rem;
    &--secondary{
        border-bottom: solid 0.4rem #FB5872;
        content: "";
        bottom: 0;
        margin: 0 0 1.4rem;
        width: 2.5rem;
    }
    &--tertiary{
        border-bottom: solid 0.4rem #50E3C2;
        content: "";
        bottom: 0;
        margin: 0 0 1.4rem;
        width: 2.5rem;
    }
    &--footer{
        border-bottom: solid 0.4rem #3D3B40;
        content: "";
        bottom: 0;
        margin: 0 0 2.1rem;
        width: 2.5rem;
    }
}
@media screen and (min-width: 768px) {
    .line--hr{
        border-bottom: solid 0.5rem #3D3B40;
        content: "";
        bottom: 0;
        margin: 0 0 2.8rem;
        width: 3rem;
        &--secondary{
            border-bottom: solid 0.5rem #FB5872;
            content: "";
            bottom: 0;
            margin: 0 0 1.4rem;
            width: 3rem;
        }
        &--tertiary{
            border-bottom: solid 0.4rem #50E3C2;
            content: "";
            bottom: 0;
            margin: 0 0 1.4rem;
            width: 3rem;
        }
        &--footer{
            border-bottom: solid 0.5rem #3D3B40;
            content: "";
            bottom: 0;
            margin: 0 0 2.1rem;
            width: 3rem;
        }
    }
}
@media screen and (min-width: 992px) {
    .line--hr{
        border-bottom: solid 0.6rem #3D3B40;
        content: "";
        bottom: 0;
        margin: 0 0 4rem;
        width: 4rem;
        &--secondary{
            border-bottom: solid 0.5rem #FB5872;
            content: "";
            bottom: 0;
            margin: 0 0 1.5rem;
            width: 3.5rem;
        }
        &--tertiary{
            border-bottom: solid 0.4rem #50E3C2;
            content: "";
            bottom: 0;
            margin: 0 0 1.5rem;
            width: 3.5rem;
        }
        &--footer{
            border-bottom: solid 0.5rem #3D3B40;
            content: "";
            bottom: 0;
            margin: 0 0 2.1rem;
            width: 3.5rem;
        }
    }
}
.descargar{
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    margin: 0;
    letter-spacing: 0.025rem;
}
.mailto{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: #0AC299;
    text-decoration: underline;
    margin: 0;
    letter-spacing: 0.025rem;
}
