.header{
    padding: 11.2rem 1.5rem 4.2rem;
    &--title{
        text-align: left;
    }
    &--sobremi{
    padding: 4.2rem 1.5rem;
    }
    p{
        margin-bottom: 4.2rem;
        font-size: 1.6rem;
    }
}
