.header{
    padding: 11.2rem 1.5rem 4.2rem;
    &--title{
        text-align: left;
    }
    &--sobremi{
        padding: 4.2rem 1.5rem;
    }
    &--text{
        margin-bottom: 4.2rem;
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 768px) {
    .header{
        padding: 11.2rem 6rem 4.9rem;
        &--title{
            text-align: left;
            br{
                display: none;
            }
        }
        &--sobremi{
            padding: 4.9rem 6rem;
        }
        &--text{
            margin-bottom: 3rem;
            font-size: 1.8rem;
            width: 80%;
        }
    }
}
@media screen and (min-width: 992px) {
    .header{
        padding: 19rem 17rem 4.9rem;
        &--sobremi{
            padding: 4.9rem 17rem;
        }
        &--text{
            margin-bottom: 4rem;
            font-size: 2.2rem;
            line-height: 4rem;
            width: 70%;
        }
    }
}
