.topnav{
    height: 5.7rem;
    width: 100%;
    background-color: #f9f9f9;
    border-bottom: solid 0.1rem #eaeaea;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
@media screen and (min-width: 768px) {
    .topnav{
        padding: 0 6rem;
    }
}
@media screen and (min-width: 992px) {
    .topnav{
        padding: 0 17rem;
    }
}
.logo{
    position: absolute;
    top: 1.4rem;
    left: 1.5rem;
}
@media screen and (min-width: 768px) {
    .logo{
        left: 6rem;
    }
}
@media screen and (min-width: 992px) {
    .logo{
        left: 17rem;
    }
}
.toggle{
    display: inline-block;
    position: absolute;
    top: 0.9rem;
    right: 0.9rem;
    background: #f9f9f9;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    &--nav{
        display: inline-block;
        margin: 1rem 0;
    }
}
.toggle--vert{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.bar{
    display: block;
    vertical-align: middle;
    height: 0.3rem;
    width: 2rem;
    background: black;
    margin-bottom: 0.5rem;
}
.background{
    height: 100%;
    background: #F5F5F5;
    background: -webkit-radial-gradient(#FFFFFF, #F5F5F5);
    background: -o-radial-gradient(#FFFFFF, #F5F5F5);
    background: -moz-radial-gradient(#FFFFFF, #F5F5F5);
    border-bottom: 1px solid #ffffff;
}
.navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100%;
    &__list {
        width: 100%;
        padding: 1.9rem 0;
    }
    a{
        text-decoration: none;
    }
    a:hover,
    a:active{
        color: #FB5872;
    }
    &__item {
        color: black;
        font-family: 'Arial', sans-serif;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin: 0 0 0 4.8rem;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        &:hover {
            //font-weight: 900;
            color: #0AC299;
        }
        &:active {
            //font-weight: 900;
            color: #0AC299;
        }
    }
}
@media screen and (max-width: 767px) {
    .navigation{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .navigation{
        text-align: right;
        &__list {
            padding: 1.6rem 0;
        }
    }
    .toggle{
        display: none;
    }
}
