//slider
/*
.container{
    width: 100%;
    position: relative;
    background: grey;
    padding: 0;
}
.slide{
    z-index: 0;
    padding: 0;
}
.carousel{
    &-indicators{
        top: 21rem;
        margin: 0 auto;
        li{
            border: 0.1rem solid #8B898C;
            margin: 0 0.7rem;
            width: 1.2rem;
            height: 1.2rem;
        }
        .active{
            background-color: #8B898C;
            margin: 0 0.7rem;
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    &-control{
        width: 10%;
        font-size: 1.6rem;
    }
    &-control.left{
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,.1) 0%, rgba(0,0,0,.0001) 100%);
        background-image: -o-linear-gradient(left, rgba(0,0,0,.1) 0%, rgba(0,0,0,.0001) 100%);
        background-image: linear-gradient(to right, rgba(0,0,0,.1) 0%, rgba(0,0,0,.0001) 100%);
    }
    &-control.right{
        background-image: -webkit-linear-gradient(right, rgba(0,0,0,.1) 0%, rgba(0,0,0,.0001) 100%);
        background-image: -o-linear-gradient(right, rgba(0,0,0,.1) 0%, rgba(0,0,0,.0001) 100%);
        background-image: linear-gradient(to left, rgba(0,0,0,.1) 0%, rgba(0,0,0,.0001) 100%);
    }
}
@media screen and (min-width: 768px) {
    .carousel-indicators {
        top: 44rem;
    }
}
@media screen and (min-width: 768px) {
    .carousel-indicators {
        top: 46rem;
    }
}
*/
/*
.slideshow{
    width: 100%;
    height: 21rem;
    position: relative;
    background: aliceblue;
}
.slideshow .slides {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    padding: 0;
}
.slides li {
    list-style: none;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.slides li:nth-child(1) {
    background-image: url(../images/06aa_results_mobile.png);
    background-color: grey;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
@media screen and (min-width: 768px) {
    .slides li:nth-child(1) {
        background-image: url(../images/06aa_results_tablet.png);
    }
}
@media screen and (min-width: 992px) {
    .slides li:nth-child(1) {
        background-image: url(../images/06aa_results_desktop.png);
    }
}
.slides li:nth-child(2) {
    background-image: url(../images/06c_results_mobile.png);
    background-color: grey;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
@media screen and (min-width: 768px) {
    .slides li:nth-child(2) {
        background-image: url(../images/06c_results_tablet.png);
    }
}
@media screen and (min-width: 992px) {
    .slides li:nth-child(2) {
        background-image: url(../images/06c_results_desktop.png);
    }
}
.slides li:nth-child(3) {
    background-image: url(../images/06a_results_mobile.png);
    background-color: aliceblue;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
@media screen and (min-width: 768px) {
    .slides li:nth-child(3) {
        background-image: url(../images/06a_results_tablet.png);
    }
}
@media screen and (min-width: 992px) {
    .slides li:nth-child(3) {
        background-image: url(../images/06a_results_desktop.png);
    }
}
.slides li:nth-child(4) {
    background-image: url(../images/06b_results_mobile.png);
    background-color: whitesmoke;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
@media screen and (min-width: 768px) {
    .slides li:nth-child(4) {
        background-image: url(../images/06b_results_tablet.png);
    }
}
@media screen and (min-width: 992px) {
    .slides li:nth-child(4) {
        background-image: url(../images/06b_results_desktop.png);
    }
}
.slides li:nth-child(5) {
    background-image: url(../images/06_results_mobile.png);
    background-color: whitesmoke;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
@media screen and (min-width: 768px) {
    .slides li:nth-child(5) {
        background-image: url(../images/06_results_tablet.png);
    }
}
@media screen and (min-width: 992px) {
    .slides li:nth-child(5) {
        background-image: url(../images/06_results_desktop.png);
    }
}
.prev,
.next {
    position: absolute;
    top: 40%;
    z-index: 1;
    font-size: 1.8rem;
    font-weight: bold;
    background: #fff;
    padding: 1rem 0.5rem;
    opacity: 0.3;
    transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}
.prev:hover,
.next:hover {
    opacity: 0.6;
    cursor: pointer;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
.nav {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-top: 2.2rem;
    left: 50%;
    transform: translateX(-50%);
}
.nav li {
    float: left;
    margin-right: 1.5rem;
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid #8B898C;
    border-radius: 50%;
    transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -webkit-transition: background 0.5s;
}
.nav li:hover {
    background-color: #8B898C;
    cursor: pointer;
}
.active-cd {
    background-color: #8B898C;
}
// fin slider
@media screen and (min-width: 768px) {
    .slideshow{
        height: 35rem;
    }
}
*/
