html{
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}
body{
    font-size: 14px; font-size: 1.4rem; /* =14px */
    margin: 0;
    -webkit-font-smoothing:antialiased !important;
    background: #fff;
    background-color: #fff;
    /*text-rendering: optimizeLegibility;*/
}
@media screen and (min-width: 768px) {
    body{
        font-size: 16px; font-size: 1.6rem; /* =14px */
    }
}
img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
a:focus,
button:focus,
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline:none;
}
a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #000;
}
button{
    border: none;
}
@font-face {
    font-family: 'arial_black';
    src: url('../fonts/arial-black-webfont.woff2') format('woff2'),
         url('../fonts/arial-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p{
    font-family: 'Open Sans', sans-serif;
    line-height: 2.8rem;
    margin: 0;
    letter-spacing: 0.025rem;
}
h1{
    font-size: 38px; font-size: 3.8rem;
    font-family: 'arial_black', 'Arial Bold', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    /* color: #3D3B40; */
    line-height: 5.6rem;
    margin: 0 0 2.2rem 0;

    color: #444;
    text-shadow:
    1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
h2{
    font-size: 28px; font-size: 2.8rem;
    font-family: 'arial_black', 'Arial Bold', sans-serif;
    font-weight: 900;
    color: #5d5d5d;
    margin: 0 0 1.4rem 0;
}
h3{
    font-size: 24px; font-size: 2.4rem;
    font-family: 'arial_black', 'Arial Bold', sans-serif;
    font-weight: 900;
    color: #3D3B40;
    margin: 0 0 1.4rem 0;
}
h4{
    font-size: 18px; font-size: 1.8rem;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    color: #0AC299;
    margin: 0 0 1.4rem 0;
}
@media screen and (min-width: 768px) {
    p{
        font-family: 'Open Sans', sans-serif;
        line-height: 3rem;
        margin: 0;
        letter-spacing: 0.025rem;
    }
    h1{
        font-size: 38px; font-size: 3.8rem;
        margin: 0 0 2.6rem 0;
    }
    h2{
        font-size: 32px; font-size: 3.2rem;
        margin: 0 0 1.5rem 0;
    }
    h3{
        font-size: 28px; font-size: 2.8rem;
        line-height: 4rem;
        margin: 0 0 1.5rem 0;
    }
    h4{
        font-size: 22px; font-size: 2.2rem;
        line-height: 3rem;
    }
}
@media screen and (min-width: 992px) {
    p{
        line-height: 3rem;
    }
    h1{
        font-size: 60px; font-size: 6rem;
        letter-spacing: 0.2rem;
        margin: 0 0 4.3rem -0.3rem;
    }
    h2{
        font-size: 38px; font-size: 3.8rem;
        margin: 0 0 1.5rem 0;
    }
    h3{
        font-size: 32px; font-size: 3.2rem;
        margin: 0 0 1.5rem 0;
    }
    h4{
        font-size: 22px; font-size: 2.2rem;
        line-height: 3rem;
    }
}
