.work{
    background-image: url(../images/genuinus_intro_mobile-min.png);
    background-position: center;
    background-size: cover;
    position: relative;
    /*height: 30.8rem;*/
    margin: 0;
    -webkit-box-shadow: 0 0rem 2rem -0.5rem rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0rem 2rem -0.5rem rgba(0,0,0,0.5);
    box-shadow: 0 0rem 2rem -0.5rem rgba(0,0,0,0.5);
    &__description{
        background: rgba(255, 255, 255, 0.7);
        height: 100%;
        padding: 3.5rem 3rem;
        p{
            font-style: italic;
        }
        &--red p{
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 900;
            color: black;
            padding: 1.4rem 0;
        }
    }
}
@media screen and (min-width: 768px) {
    .work{
        background-image: url(../images/genuinus_intro_tablet-min.png);
        margin: 0 6rem;
        &__description{
            padding: 3.5rem 30rem 3.5rem 3rem;
            p{
                font-size: 1.6rem;
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .work{
        background-image: url(../images/genuinus_intro_desktop-min.png);
        margin: 0 17rem;
        &__description{
            padding: 3.5rem;
            width: 40%;
            p{
                font-size: 1.6rem;
            }
        }
    }
}
.case{
    margin: 0 0 2.8rem;
    p{
        margin: 0 0 1.4rem;
    }
    &--background{
        margin: 0 1.5rem;
        padding: 4.2rem 1.5rem;
        background: #ffffff;
    }
    &--image{
        background-color: grey;
        background-position: center;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0.1rem 0.2rem 0;
        position: relative;
        height: 100%;
    }
    &--legend{
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
        color: grey;
    }
}
@media screen and (min-width: 768px) {
    .case{
        margin: 0 0 3rem;
        p{
            margin: 0 0 1.5rem;
        }
        &--background{
            margin: 0 6rem;
            padding: 4.9rem 3rem;
            background: #ffffff;
        }
        &--image{
            height: 100%;
        }
        &--legend{
            font-size: 1.4rem;
        }
    }
}
@media screen and (min-width: 992px) {
    .case{
        margin: 0 0 3rem;
        p{
            margin: 0 0 1.5rem;
        }
        &--background{
            margin: 0 17rem;
            padding: 4.9rem 17rem;
            background: #ffffff;
        }
        &--image{
            height: 100%;
        }
    }
    .description__header{
        padding: 10rem 17rem;
        width: inherit;
    }
}
